<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>
    
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lazyloadxt/dist/jquery.lazyloadxt.min.js"></script>
    <script src="/bower_components/lazyloadxt/dist/jquery.lazyloadxt.bg.min.js"></script>
  </head>
  <body>

    <nav>
      <h1><%= title %></h1>
      <form id="form" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" accept="image/*" class="upload_btn" required/>    
      </form>
    </nav>

    <main class="main">
      <div class="img-matrix">
        <% photo.forEach(function(item) { %>
          <div class="img-cell lazy-hidden" data-bg=
            <%= "photo/compressed/" + item %>
          ></div>
        <% }) %>
      </div>

      <div class="img-full">
        <div class="img-full-close"></div>
          <img class="img-container"/>
      </div>
    </main>

    <script>
      // open fullscreen view
      $('.img-cell').click((e) => {
        $('body').css('overflow', 'hidden')
        $('.img-full').css('display', 'flex')
        
        old_src = e.currentTarget.style.backgroundImage.slice(5, -2);
        new_src = "photo/" + old_src.slice(17, -8) + "." + old_src.split(".").pop();
        $('.img-container').attr('src', new_src)
      })
      // close fullscreen view
      $('.img-full-close').click(() => {
        $('body').css('overflow', 'scroll')
        $('.img-full').css('display', 'none')
      })
      // send img to server
      $('.upload_btn').on('input', () => {
        $.ajax({
          url: 'upload',
          data: new FormData($('#form')[0]),
          cache: false,
          contentType: false,
          processData: false,
          method: 'POST',
          success: data => alert(data.status)
        })
      })
    </script>
    
  </body>
</html>
